.main-section{
width: 60%;
}
.read{
    /* border: solid red; */
    /* border-left: dotted; */
    /* border-right: dotted; */
    border-top: outset;
    border-bottom: inset;
    padding-top: 1%;
    /* padding-left: 1%; */
    /* padding-right: 1%; */
    color: grey;
    font-size: 1em;
    overflow: hidden;
    height: 300px;
}
.form-range{
    width: 50%;
}